---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseLayout from '~/layouts/BaseLayout.astro';
import selfImg from '~/assets/images/self.png';
import self2Img from '~/assets/images/self2.png';
import selfData from '~/assets/data/self.json';
import booksData from '~/assets/data/books.json';

interface Project {
  slug: string;
  data: {
    current: boolean;
    date: Date;
    title: string;
  };
}

const pageTitle = 'About';
const allNotes = await getCollection('notes');
const allProjects = await getCollection('projects');

let notesWritten = 0;
let booksRead = 0;
let currentProjects: Project[] = [];
const isDev = import.meta.env.MODE === 'development';

const filteredNotes = allNotes.filter((note) => {
  return isDev ? true : note.data.draft !== true;
});
filteredNotes.forEach((note) => {
  if (note.data.date.getFullYear() === new Date().getFullYear()) {
    notesWritten++;
  }
});

booksData.forEach((book) => {
  if (Number(book.year) === new Date().getFullYear()) {
    booksRead++;
  }
});

allProjects.forEach((project) => {
  if (project.data.current) {
    currentProjects.push(project);
  }
});

const sortedProjects = currentProjects.sort((a, b) => {
  return a.data.title.localeCompare(b.data.title);
});
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Welcome to Code Macabre!</p>
  <p>
    I'm Myles Lewando (he&#8288;/&#8288;him), a developer and designer based in Cardiff, UK.
  </p>
  <p>With a background in education, data visualisation, and design, I began freelancing as a web developer in 2016. I formally changed career in 2019 to become a full-time developer, specialising in data visualisation and accessibility.</p>
  <p>Inclusive, ethical technology and data justice are integral to my work and my values.</p>
  <Image
    class="small center circle over"
    src={selfImg}
    alt="A black and white grainy photo of my head and shoulders. I have a long pointy beard and a mohawk, with a black censored bar across my eyes"
  />
  <Image
    class="small center circle"
    src={self2Img}
    alt=""
  />
  <h2 id="now">Now</h2>
  <p>
    I've been working as a {selfData.organisation.position} at <a href={selfData.organisation.url}>{selfData.organisation.name}</a> since {selfData.organisation.startDate}. {sortedProjects.length > 0 && (
      <>Outside of work, I'm currently spending time on my personal project{sortedProjects.length === 1 ? '' : 's'},
        {
          sortedProjects.length === 1 ? (
            <> <a href={`/projects/${sortedProjects[0].slug}`}>{sortedProjects[0].data.title}</a>.</>
          ) : sortedProjects.length === 2 ? (
            <>
              <a href={`/projects/${sortedProjects[0].slug}`}>{sortedProjects[0].data.title}</a> and 
              <a href={`/projects/${sortedProjects[1].slug}`}>{sortedProjects[1].data.title}</a>.
            </>
          ) : (
            <>
              {sortedProjects.map((project, index) => (
                <>
                  <a href={`/projects/${project.slug}`}>{project.data.title}</a>{index < sortedProjects.length - 2 ? ', ' : index === sortedProjects.length - 2 ? ', and ' : ''}
                </>
              ))}.</>
          )
        }
      </>
    )}
  </p>
  <p>So far this year, I've <a href="/notes">written {notesWritten} {notesWritten === 1 ? 'note' : 'notes'}</a> and <a href="/reading">read {booksRead} {booksRead === 1 ? 'book' : 'books'}</a>.</p>
  <h2 id="fun-facts">Fun facts</h2>
  <p>My household includes a menagerie of multi-legged pets of various species, including:</p>
  <ul class="indented">
    {selfData.pets.map((pet) => <li>{pet.count}&times; {pet.species_en} <em>({pet.species_la})</em></li>)}
  </ul>
  <p>...and one human child.</p>
  <p>
    As morbid as it sounds, I love <a href="/notes/on-graveyards">cemeteries</a>, crypts, and catacombs. Whenever possible, I try to visit weird and unusual ones, or just take a quiet walk around a local one.
  </p>
  <h2 id="contact">Contact</h2>
  <p>Get in touch via <span class="mail">email</span><noscript> at contact (at) codemacabre (dot) com</noscript>, or reach out on <a href="https://social.coop/@codemacabre">Mastodon</a> or <a href="https://www.linkedin.com/in/codemacabre/">LinkedIn</a>.</p>
  <h2 class="sr-only">Disclaimer</h2>
  <p class="callout">The views and opinions on this site are my own, and do not necessarily reflect those of my employer.</p>
</BaseLayout>
