---
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
import BaseLayout from '~/layouts/BaseLayout.astro';
import selfImage from '~/assets/images/self.png';
import selfData from '~/assets/data/self.json';
import booksData from '~/assets/data/books.json';

const pageTitle = 'About';
const allNotes = await getCollection('notes');

let notesWritten = 0;
let booksRead = 0;

allNotes.forEach((note) => {
  if (note.data.date.getFullYear() === new Date().getFullYear()) {
    notesWritten++;
  }
});

booksData.forEach((book) => {
  if (Number(book.dateRead) === new Date().getFullYear()) {
    booksRead++;
  }
});
---
<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  <p>Welcome to Code Macabre!</p>
  <p>
    This is the portfolio and personal site of me, Myles Lewando (he / him), a developer, designer, and data visualisation and accessibility specialist.
  </p>
  <p>
    I began freelancing as a developer in 2016, then formally changed career to become a full-time developer in 2019. My background is in education, data visualisation (particularly geospatial), and design. I am dedicated to inclusive, ethical technology, and data justice.
  </p>
  <Image
    class="small center circle"
    src={selfImage}
    alt="A black and white grainy photo of my head and shoulders. I have a long pointy beard and a mohawk, with a black censored bar across my eyes"
  />
  <h3 id="now">Now</h3>
  <p>
    I work as a {selfData.organisation.position} at <a href={selfData.organisation.url}>{selfData.organisation.name}</a>. I've <a href="/notes">written {notesWritten} {notesWritten === 1 ? 'note' : 'notes'}</a> and <a href="/reading">read {booksRead} {booksRead === 1 ? 'book' : 'books'}</a> so far this year.
  </p>
  <h3 id="fun-facts">Fun facts</h3>
  <p>My household includes a menagerie of multi-legged pets of various species, including:</p>
  <ul class="indented">
    {selfData.pets.map((pet) => <li>{pet.count}x {pet.species_en} ({pet.species_la})</li>)}
  </ul>
  <p>&hellip;and one human child.</p>
  <p>
    As morbid as it sounds, I love <a href="/notes/on-graveyards">cemeteries</a>, crypts, and catacombs. Where possible, I try to visit weird and unusual ones, or just take a quiet walk around a local one.
  </p>
  <h3 id="contact">Contact</h3>
  <p>Get in touch via <span class="mail">email</span><noscript> at contact (at) codemacabre (dot) com</noscript>, or reach out on <a href="https://social.coop/@codemacabre">Mastodon</a> or <a href="https://www.linkedin.com/in/codemacabre/">LinkedIn</a>.</p>
</BaseLayout>
