---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Book from '~/components/Book.astro';
import booksData from '~/assets/data/books.json';

const years = Array
  .from(new Set(booksData.map((book) => book.year)))
  .sort((a, b) => {
    return new Date(b).getTime() - new Date(a).getTime();
  });
const current = booksData.some((book) => (book.status === 'reading'));
const pageTitle = 'Reading';
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>The audiobooks, ebooks, paperbacks, and hardbacks I've read each year, as of 2024. I tend to prefer physical books, but when buying digital media, I favour DRM-free options.</p>
  <p>Also, see what I've been <a href="/watching">watching</a>.</p>

  {current &&
    <h2>Currently reading</h2>
    <ul class="card-container">
      {booksData.map((book) =>
        book.status === 'reading' &&
        <Book author={book.author} cover={book.cover} rating={book.rating} status={book.status} title={book.title} />
      )}
    </ul>
  }

  {years.map((year) =>
    <h2>{year}</h2>
    <ul class="card-container">
      {booksData.map((book) =>
        book.year === year && (book.status === 'read' || book.status === 're-read') &&
          <Book author={book.author} cover={book.cover} rating={book.rating} status={book.status} title={book.title} />
      )}
    </ul>
  )}
</BaseLayout>
