---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Book from '~/components/Book.astro';
import booksData from '~/assets/data/books.json';

const years = Array
  .from(new Set(booksData.map((book) => book.year)))
  .sort((a, b) => {
    return new Date(b).getTime() - new Date(a).getTime();
  });
const pageTitle = 'Reading';
---
<BaseLayout pageTitle={pageTitle}>
<h2>{pageTitle}</h2>
<p>The audiobooks, ebooks, paperbacks, and hardbacks I've read each year, as of 2024. I tend to prefer physical books, but when buying digital media, I favour DRM-free options.</p>

{years.map((year) =>
  <h3>{year}</h3>
  <ul class="card-container">
    {booksData.map((book) =>
      book.year.includes(year) &&
        <Book author={book.author} cover={book.cover} rating={book.rating} reread={book.reread} title={book.title} />
    )}
  </ul>
)}
</BaseLayout>
