---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Film from '~/components/Film.astro';
import filmsData from '~/assets/data/films.json';

const years = Array
  .from(new Set(filmsData.map((film) => film.year)))
  .sort((a, b) => {
    return new Date(b).getTime() - new Date(a).getTime();
  });
const pageTitle = 'Watching';
---
<BaseLayout pageTitle={pageTitle}>
<h1>{pageTitle}</h1>
<p>The films I've watched each year, as of 2024.</p>

{years.map((year) =>
  <h2>{year}</h2>
  <ul class="card-container">
    {filmsData.map((film) =>
      film.year.includes(year) && (film.status === 'watched' || film.status === 're-watched') &&
        <Film cover={film.cover} rating={film.rating} release={film.release} status={film.status} title={film.title} />
    )}
  </ul>
)}
</BaseLayout>
