---
import { getCollection } from 'astro:content';
import Note from '~/components/Note.astro';

const { pathname } = Astro.url;
const allLinks = {};
const allNotes = await getCollection('notes');
const linkRegex = /\[.*?\]\((.*?)\)/g;

allNotes.forEach((note) => {
  const links = [...note.body.matchAll(linkRegex)];
  
  if (links) {
    links.forEach((link) => {
      const linkUrl = link[1];

      if (linkUrl) {
        if (!allLinks[linkUrl]) {
          allLinks[linkUrl] = [];
        }
        allLinks[linkUrl].push({
          frontmatter: note.data,
          url: `/notes/${note.slug}`
        });
      }
    });
  }
});

const backlinks = allLinks[pathname] || [];
---
<section class="backlinks">
  {backlinks.length > 0 && (
    <h2>Backlinks</h2>
    <ul class="pages-list">
      {backlinks.map(backlink => (
        <Note category={backlink.frontmatter.category} date={backlink.frontmatter.date} title={backlink.frontmatter.title} url={backlink.url} />
      ))}
    </ul>
  )}
</section>
