---
import { getCollection } from 'astro:content';
import Note from '~/components/Note.astro';

interface Note {
  id: string;
  body?: string;
  data: {
    category: string;
    date: Date;
    description: string;
    tags: string[];
    title: string;
    draft?: boolean | undefined;
    update?: Date | undefined;
  }
}

const { pathname } = Astro.url;
const currentUrl = pathname.toLowerCase().replace(/\/+$/g, '');
const allLinks = {};
const allNotes: Note[] = await getCollection('notes');
const linkRegex = /\[.*?\]\((.*?)\)/g;

allNotes.forEach((note) => {
  const links = [...(note.body || '').matchAll(linkRegex)];
  
  if (links) {
    links.forEach((link) => {
      const linkUrl = link[1].toLowerCase().replace(/\/+$/g, '');

      if (linkUrl) {
        if (!allLinks[linkUrl]) {
          allLinks[linkUrl] = [];
        }
        allLinks[linkUrl].push({
          frontmatter: note.data,
          url: `/notes/${note.id}`
        });
      }
    });
  }
});

const backlinks = allLinks[currentUrl] || [];
---
<section class="backlinks">
  {backlinks.length > 0 && (
    <h2>Backlinks</h2>
    <ul class="pages-list">
      {backlinks.map((backlink) => (
        <Note category={backlink.frontmatter.category} date={backlink.frontmatter.date} title={backlink.frontmatter.title} url={backlink.url} />
      ))}
    </ul>
  )}
</section>
