---
import fs from 'fs';
import path from 'path';

import Note from '~/components/Note.astro';

interface ContentModule {
  frontmatter: {
    category: string;
    date: string;
    description: string;
    title: string;
  };
}

const { pathname } = Astro.url;
const allNotes = import.meta.glob('../content/notes/*.mdx', { eager: false });

let notes = await Promise.all(
  Object.entries(allNotes).map(async ([key, loader]) => {
    const url = key.replace('../content/notes/', '/notes/').replace('.mdx', '/');
    const contentModule = await loader() as ContentModule;
    const filePath = path.resolve('./src/content/notes', key.replace('../content/notes/', ''));
    const rawContent = fs.readFileSync(filePath, 'utf-8');
    return {
      frontmatter: contentModule.frontmatter,
      url,
      rawContent,
    };
  })
);

const backlinksMap = {};
const linkRegex = /\[.*?\]\((.*?)\)/g;

notes.forEach(note => {
  const { url, rawContent, frontmatter } = note;
  const matches = [...rawContent.matchAll(linkRegex)];
  
  if (matches) {
    matches.forEach(match => {
      const linkedUrl = match[1];

      if (linkedUrl) {
        if (!backlinksMap[linkedUrl]) {
          backlinksMap[linkedUrl] = [];
        }
        backlinksMap[linkedUrl].push({
          category: frontmatter.category,
          date: frontmatter.date,
          description: frontmatter.description,
          title: frontmatter.title,
          url
        });
      }
    });
  }
});

const currentBacklinks = backlinksMap[pathname] || [];
---
<section class="backlinks">
  {currentBacklinks.length > 0 && (
    <h2>Backlinks</h2>
    <ul class="pages-list">
      {currentBacklinks.map(backlink => {
        return (
          <Note category={backlink.category} date={backlink.date} description={backlink.description} title={backlink.title} url={backlink.url} />
        )
      })}
    </ul>
  )}
</section>
