---
import { Image } from 'astro:assets';

const { author, cover, rating, status, title } = Astro.props;
---

<li class="card">
  <Image
    class="greyscale"
    src={cover.src}
    width={cover.width / 2}
    height={cover.height / 2}
    alt={cover.alt}
  />
  <div class="card-content">
    <p>
      <span class="title">{title}</span> by {
        author.length === 1
          ? author[0]
          : author.length === 2
            ? `${author[0]} and ${author[1]}`
            : `${author.slice(0, -1).join(', ')}, and ${author[author.length - 1]}`
      }
    </p>
    <p class="rating"><span class="wide-only">Rating: </span><span aria-label={`${rating} out of 5`}>{'*'.repeat(rating)}<span class="faded" aria-hidden="true">{'*'.repeat(5 - rating)}</span></span></p>
  </div>
  {status === 're-read' && (
    <div class="banner-container">
      <div class="banner">Re-read</div>
    </div>
    )}
</li>
