---
import { Image } from "astro:assets";

const { author, cover, title } = Astro.props;
---

<li class="card">
  <Image
    class="greyscale"
    src={cover.src}
    width={cover.width / 2}
    height={cover.height / 2}
    alt={cover.alt}
  />
  <p>
    <strong>{title}</strong> by {
      author.length === 1
        ? author[0]
        : author.length === 2
          ? `${author[0]} and ${author[1]}`
          : `${author.slice(0, -1).join(", ")}, and ${author[author.length - 1]}`
    }
  </p>
</li>
