---
import { Image } from 'astro:assets';

const { cover, rating, release, status, title } = Astro.props;
---

<li class="card">
  <Image
    class="greyscale"
    src={cover.src}
    width={cover.width / 2}
    height={cover.height / 2}
    alt={cover.alt}
  />
  <div class="card-content">
    <p>
      <span class="title">{title}</span> <span class="dates">({release})</span>
    </p>
    <p class="rating"><span class="wide-only">Rating: </span><span aria-label={`${rating} out of 5`}>{'*'.repeat(rating)}<span class="faded" aria-hidden="true">{'*'.repeat(5 - rating)}</span></span></p>
  </div>
  <div class="banner-container">
    {status === 're-watched' && (
      <div class="banner">Re-watch</div>
    )}
    </div>
</li>
