---
import Tag from '~/components/Tag.astro';

const { category, date, description, title, url } = Astro.props
const options: Intl.DateTimeFormatOptions = {
  year: 'numeric',
  month: 'short',
  day: '2-digit',
};
---
<li>
  <a class="title" href={url}>{title}</a>
  <div class="meta">
    <Tag text={category} />
    <span class="dates">(<time datetime={date.toString()}>{new Date(date).toLocaleDateString('en-GB', options)}</time>)</span>
  </div>
  { description && <p class="description">{description}</p>}
</li>

