---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Backlinks from '~/components/Backlinks.astro';
import Tag from '~/components/Tag.astro';

const { frontmatter } = Astro.props;
const options: Intl.DateTimeFormatOptions = {
  year: 'numeric',
  month: 'short',
  day: '2-digit',
};
---
<BaseLayout pageTitle={frontmatter.title}>
  <Fragment slot="head">
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://codemacabre.com/images/self.png" />
    
    <meta name="twitter:title" content={frontmatter.title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://codemacabre.com/images/self.png" />
  </Fragment>
  <h1>{frontmatter.title}</h1>
  <div class="meta note-page">
    <Tag text={frontmatter.category} />
    <div class="dates">
      <span>Written on <time datetime={frontmatter.date.toString()}>{new Date(frontmatter.date).toLocaleDateString('en-GB', options)}</time></span>{frontmatter.update && <span class="update">Updated on <time datetime={frontmatter.update.toString()}>{new Date(frontmatter.update).toLocaleDateString('en-GB', options)}</time></span>}
      </div>
    </div>
  <article>
    <slot />
  </article>
  <Backlinks frontmatter={frontmatter} slug={Astro.props.slug} />
</BaseLayout>
