---
import BaseLayout from './BaseLayout.astro';
import Tag from '~/components/Tag.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <Fragment slot="head">
    <meta property="og:site_name" content="Code Macabre" />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://codemacabre.com/images/self.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    
    <meta name="twitter:title" content={frontmatter.title} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="https://codemacabre.com/images/self.png" />
  </Fragment>
  <h1>{frontmatter.title}</h1>
  <p>
    <Tag text={frontmatter.category} />
    <span class="dates">
      Written <time datetime={frontmatter.date.toString()}>{new Date(frontmatter.date).toISOString().slice(0,10)}</time>{frontmatter.update && <> (updated <time datetime={frontmatter.update.toString()}>{new Date(frontmatter.update).toISOString().slice(0,10)}</time>)</>}
    </span>
  </p>
  <article>
    <slot />
  </article>
</BaseLayout>
