---
import BaseLayout from './BaseLayout.astro';
import Tag from '../components/Tag.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>
    <Tag text={frontmatter.status} />
    <span class="dates">
      <time datetime={frontmatter.date.toString()}>{frontmatter.date.getFullYear()}</time>{frontmatter.endDate && <> - <time datetime={frontmatter.endDate.toString()}>{frontmatter.endDate.getFullYear()}</time></>}
    </span>
  </p>
  <article>
    <slot />
  </article>
</BaseLayout>
