---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Category from '~/components/Category.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <Fragment slot="head">
    <meta property="og:title" content={`${frontmatter.title} / Code Macabre`} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://codemacabre.com/images/self.png" />
    
    <meta name="twitter:title" content={frontmatter.title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://codemacabre.com/images/self.png" />
  </Fragment>
  <h1>{frontmatter.title}</h1>
  <p class="meta project-page">
    <Category text={frontmatter.status} />
    <span class="dates">
      <time datetime={frontmatter.date.toString()}>{frontmatter.date.getFullYear()}</time>{frontmatter.endDate && <>&nbsp;-&nbsp;<time datetime={frontmatter.endDate.toString()}>{frontmatter.endDate.getFullYear()}</time></>}
    </span>
  </p>
  <article>
    <slot />
  </article>
</BaseLayout>
